@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.nav-item {
  font-family: Poppins;
  font-weight: 400;
}

.navbar-brand {
  font-family: Poppins;
  font-weight: 800;
  font-size: 35px;
}

.button-text {
  font-size: 0.85rem;
}

#signUp {
  font-family: Poppins;
  font-weight: 600;
  size: 14px;
}

header h1 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 34px;
  line-height: 42px;
}

#under-text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
}

#trending {
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
}
#trending:before {
  content: "🔥";
}

#topGainers {
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
}
#topGainers:before {
  content: "🚀";
}

#recentlyAdded {
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
}
#recentlyAdded:before {
  content: "💎";
}

th {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  color: black;
  opacity: 83%;
}

td {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
}

.section-exchange h2 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 24px;
}

#buyNow {
  font-family: Poppins;
  font-weight: 500;
}

h3 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
}

#under-text-form {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
}

h4 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 24px;
}

h5 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
}

@media screen and (min-width: 992px) {
  #headerContainer {
    max-width: 82% !important;
  }
  #signUp {
    font-family: Poppins;
    font-weight: 600;
    font-size: 20px;
  }
  header h1 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 68px;
    line-height: 82px;
  }
  #under-text {
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
  }
  #headerButton {
    padding: 15px 35px !important;
  }
  #headerFirstColumn {
    margin-top: 150px !important;
  }
  header {
    padding-bottom: 50px !important;
  }
}
#navbarButton {
  padding: 0.85rem 2.8rem;
  font-size: 1rem;
}

.navbar-nav {
  margin-left: 5rem;
}

#headerButton {
  font-family: Poppins;
  font-weight: 500;
  padding: 10px;
}

#buyNow {
  width: 100%;
  padding: 0.75rem;
}

#navContainer {
  max-width: 85% !important;
}

/*
#headerContainer {
    max-width: 82% !important;
}
*/
#tableContainer {
  max-width: 86% !important;
  border-radius: 30px;
}

.form-wrapper {
  margin-top: 2rem;
}

.container-exchange {
  max-width: 91%;
}

.container-partners {
  /*
  max-width: 97%;
  border-radius: 30px;
  */
  margin-top: 4rem;
}

.container-cards,
.container-tools {
  max-width: 92%;
}

#headerFirstColumn {
  margin-top: 4rem;
}

.globe {
  margin-top: -40px;
}

header {
  padding-bottom: 150px;
}

.graph {
  margin-top: -45px;
}/*# sourceMappingURL=style.css.map */