.pos-sign {
  color: #28c165;
}

.neg-sign {
  color: #f4574d;
}

@media screen and (min-width: 992px) {
  .table-1,
  .table-2 {
    border-right: 1px solid #eaeaea;
  }
}

thead tr {
  border-bottom: transparent !important;
}

.removeBorder {
  border-bottom: transparent !important;
}
