.accordion {
  background-color: white;
  cursor: pointer;
  padding: 20px 0px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  transition: 0.4s;
}

.accordion:hover {
  background-color: white;
}

.panel {
  padding: 0 0px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-bottom: 1px solid #cccccc;
}
