.nav-button {
  width: 165px;
  height: 65px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
}

#headerButton {
  font-family: Poppins;
  font-weight: 500;
  padding: 10px;
}

#buyNow {
  width: 100%;
  padding: 0.75rem;
}

#waitlistButton,
#getStarted {
  font-family: Poppins;
  font-weight: 500;
}

.btn-faq {
  font-family: Poppins;
  font-size: 14px;
  color: #666666;
  width: 50%;
}

