#navContainer {
    max-width: 85% !important;
}

#tableContainer {
    max-width: 86% !important;
    border-radius: 30px;
}

.form-wrapper {
    margin-top: 2rem;
}


.container-exchange {
    max-width: 91%;
}


.container-partners {
    margin-top: 4rem;
} 

.getstarted {
    max-width: 97%;
    border-radius: 30px;
}

.container-getstarted {
    max-width: 90%;
}