#navContainer {
    max-width: 85% !important;
}

/*
#headerContainer {
    max-width: 82% !important;
}
*/ 

#tableContainer {
    max-width: 86% !important;
    border-radius: 30px;
}

.form-wrapper {
    margin-top: 2rem;
}


.container-exchange {
    max-width: 91%;
}


.container-partners {
    max-width: 97%;
    border-radius: 30px;
    margin-top: 4rem;
} 


