.bg-gradient-light {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.7) -9.25%,
    rgba(255, 255, 255, 0.6) -9.25%,
    rgba(244, 249, 255, 0.7) 108.74%
  );
}

header {
  background-image: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.9),
    rgba(70, 142, 249, 0.3)
  );
}

nav {
  background-image: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.9),
    #fdfdff,
    #e5effe
  );
}
