@media screen and (min-width: 1499px) {
  #starPurpleHeader {
    position: absolute;
    left: 670px;
    right: 0px;
  }

  #circlePurpleHeader {
    position: absolute;
    bottom: 250px;
    left: 100px;
    right: 0px;
  }

  #circleBlueHeader {
    position: absolute;
    left: 1050px;
    bottom: 850px;
  }

  #circleOrangeHeader {
    position: absolute;
    right: -950px;
    bottom: 420px;
  }

  #starPurpleTools {
    position: absolute;
    left: 200px;
    bottom: 550px;
  }

  #circleOrangeTools {
    position: absolute;
    left: 900px;
    bottom: 200px;
  }
}

@media screen and (max-width: 1499px) {
  #starPurpleHeader {
    position: absolute;
    left: 500px;
    right: 0px;
  }

  #circlePurpleHeader {
    position: absolute;
    bottom: 150px;
    left: 100px;
    right: 0px;
  }

  #circleBlueHeader {
    position: absolute;
    left: 750px;
    bottom: 850px;
  }

  #circleOrangeHeader {
    position: absolute;
    right: -700px;
    bottom: 600px;
  }

  #starPurpleTools {
    position: absolute;
    left: 150px;
    bottom: 600px;
  }

  #circleOrangeTools {
    position: absolute;
    left: 700px;
    bottom: 380px;
  }
}

#arrowOne {
  bottom: 200px;
  left: 450px;
}

#arrowTwo {
    bottom: 185px;
    left: 450px;
}
