@use "../abstracts/mixins";

@media screen and (min-width: 992px) {
  /*
  #headerContainer {
    max-width: 82% !important;
  }
  */

  #signUp {
    font-family: Poppins;
    font-weight: 600;
    font-size: 20px;
  }

  header {
    h1 {
      font-family: Poppins;
      font-weight: 700;
      font-size: 68px;
      line-height: 82px;
    }

    padding-bottom: 0px !important;
  }

  #under-text {
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
  }

  #headerButton {
    padding: 15px 35px !important;
  }

  #headerFirstColumn {
    margin-top: 250px !important;
    padding-left: 200px;
  }

  .section-exchange {
    h2 {
      font-family: Poppins;
      font-weight: 600;
      font-size: 36px;
    }
  }

  .container-exchange {
    max-width: 80% !important;
  }

  #exchangeFirstColumn {
    margin-top: 130px;
    margin-left: 70px;
    width: 33%;
  }

  #waitlistButton {
    font-family: Poppins;
    font-weight: 500;
    width: 47% !important;
  }

  h4 {
    font-family: Poppins;
    font-size: 36px;
    font-weight: 600;
  }

  #credit-list {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
  }

  .img-exchange {
    margin-left: 300px;
    width: 80%;
  }

  #creditColumn {
    margin-top: 130px;
    margin-left: 100px;
    width: 30%;
  }

  .credit-card {
    padding-bottom: 150px !important;
    margin-top: 150px !important;
  }

  .img-cards {
    width: 80%;
    margin-left: 120px;
  }

  h5 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
  }
  .container-cards {
    max-width: 92%;
  }

  .container-tools {
    max-width: 97%;
    border-radius: 30px;
  }

  .container-partners {
    max-width: 97%;
    border-radius: 30px;
  }

  .tools-column {
    width: 30%;
    margin-top: 120px;
    margin-left: 200px;
  }

  .img-tools {
    margin-left: 150px;
  }

  #getStarted {
    width: 45% !important;
  }

  #link-text {
    margin-left: 20px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
  }

  .container-security {
    max-width: 85%;
  }

  .section-security {
    margin-top: 100px;
  }

  .security-column {
    margin-top: 60px !important;
    margin-left: 20px;
    width: 40%;
  }

  .img-security {
    width: 85%;
  }

  h6 {
    font-family: Poppins;
    font-size: 36px;
    font-weight: 600;
  }

  h7 {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
  }

  .get-started {
    max-width: 97%;
    margin-left: 1.5%;
    border-radius: 30px;
    padding-bottom: 3rem;

    .col-lg-4 {
      padding-top: 2rem;
    }
  }

  .header-faq {
    font-family: Poppins;
    font-size: 36px;
    font-weight: 600;
  }

  .accordion {
    font-family: Poppins;
    font-size: 18px !important;
    font-weight: 400;
  }

  .accordion-column {
    margin-top: 100px !important;
    width: 50%;
  }

  .btn-faq {
    width: 15% !important;
  }

  footer {
    .row {
      border-top: 1px solid #dddddd;
      border-bottom: 1px solid #dddddd;
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }

  #footer-1 {
    border-top: 0px !important;
  }

  #footer-2,
  #footer-3,
  #footer-4 {
    border-bottom: 0px !important;
    border-right: 1px solid #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #footer-5 {
    border-bottom: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .gradient-text-header {
    background: var(
      --GRA-Blue2,
      linear-gradient(
        169deg,
        #3984f4 -6.01%,
        #0cd3ff 36.87%,
        #2f7cf0 78.04%,
        #0e65e8 103.77%
      )
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Poppins;
    font-size: 68px;
    font-style: normal;
    font-weight: 700;
    line-height: 82px;
  }

  .gradient-text-cards {
    background: var(
      --GRA-Blue2,
      linear-gradient(
        169deg,
        #3984f4 -6.01%,
        #0cd3ff 36.87%,
        #2f7cf0 78.04%,
        #0e65e8 103.77%
      )
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px;
  }

  .gradient-text-tools {
    background: var(
      --GRA-Blue2,
      linear-gradient(
        169deg,
        #3984f4 -6.01%,
        #0cd3ff 36.87%,
        #2f7cf0 78.04%,
        #0e65e8 103.77%
      )
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .gradient-text-faq {
    background: var(
      --GRA-Blue,
      linear-gradient(137deg, #468ef9 -12.5%, #0c66ee 107.5%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  #trending {
    @include mixins.table-title;
    &:before {
      content: "🔥";
    }
  }

  #topGainers {
    @include mixins.table-title;
    &:before {
      content: "🚀";
    }
  }

  #recentlyAdded {
    @include mixins.table-title;
    &:before {
      content: "💎";
    }
  }

  th {
    color: var(--FONT-SECONDARY, #666);
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.15px;
  }

  td {
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
