@use "../abstracts/mixins";

@media screen and (min-width: 1400px) {
  /*
  #headerContainer {
    max-width: 82% !important;
  }
  */

  .img-center-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .img-globe {
    min-width: 900px;
  }

  #signUp {
    font-family: Poppins;
    font-weight: 600;
    font-size: 20px;
  }

  header {
    h1 {
      font-family: Poppins;
      font-weight: 700;
      font-size: 68px;
      line-height: 82px;
    }

    padding-bottom: 0px !important;
  }

  #under-text {
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
  }

  #headerButton {
    padding: 15px 35px !important;
  }

  #headerFirstColumn {
    margin-top: 250px !important;
    padding-left: 200px;
  }

  .section-exchange {
    h2 {
      font-family: Poppins;
      font-weight: 600;
      font-size: 36px;
    }
  }

  .container-exchange {
    max-width: 80% !important;
  }

  #exchangeFirstColumn {
    margin-top: 130px;
    margin-left: 70px;
    width: 33%;
  }

  #waitlistButton {
    font-family: Poppins;
    font-weight: 500;
    width: 47% !important;
  }

  h4 {
    font-family: Poppins;
    font-size: 36px;
    font-weight: 600;
  }

  #credit-list {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
  }

  .img-exchange {
    margin-left: 300px;
    width: 80%;
  }

  #creditColumn {
    margin-top: 130px;
    margin-left: 100px;
    width: 30%;
  }

  .credit-card {
    padding-bottom: 150px !important;
    margin-top: 150px !important;
  }

  .img-cards {
    width: 80%;
    margin-left: 120px;
  }

  h5 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
  }
  .container-cards {
    max-width: 92%;
  }

  .container-tools {
    max-width: 97%;
    border-radius: 30px;
  }

  .container-partners {
    max-width: 97%;
    border-radius: 30px;
  }

  .tools-column {
    width: 30%;
    margin-top: 120px;
    margin-left: 200px;
  }

  .img-tools {
    margin-left: 150px;
  }

  #getStarted {
    width: 45% !important;
  }

  #link-text {
    margin-left: 20px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
  }

  .container-security {
    max-width: 85%;
  }

  .section-security {
    margin-top: 100px;
  }

  .security-column {
    margin-top: 60px !important;
    margin-left: 20px;
    width: 40%;
  }

  .img-security {
    width: 85%;
  }

  h6 {
    font-family: Poppins;
    font-size: 36px;
    font-weight: 600;
  }

  h7 {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
  }

  .get-started {
    max-width: 97%;
    margin-left: 1.5%;
    border-radius: 30px;
    padding-bottom: 3rem;

    .col-lg-4 {
      padding-top: 2rem;
    }
  }

  .header-faq {
    font-family: Poppins;
    font-size: 36px;
    font-weight: 600;
  }

  .accordion {
    font-family: Poppins;
    font-size: 18px !important;
    font-weight: 400;
  }

  .accordion-column {
    margin-top: 100px !important;
    width: 50%;
  }

  .btn-faq {
    width: 15% !important;
  }

  footer {
    .row {
      border-top: 1px solid #dddddd;
      border-bottom: 1px solid #dddddd;
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }

  #footer-1 {
    border-top: 0px !important;
  }

  #footer-2,
  #footer-3,
  #footer-4 {
    border-bottom: 0px !important;
    border-right: 1px solid #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #footer-5 {
    border-bottom: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .gradient-text-header {
    background: var(
      --GRA-Blue2,
      linear-gradient(
        169deg,
        #3984f4 -6.01%,
        #0cd3ff 36.87%,
        #2f7cf0 78.04%,
        #0e65e8 103.77%
      )
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Poppins;
    font-size: 68px;
    font-style: normal;
    font-weight: 700;
    line-height: 82px;
  }

  .gradient-text-cards {
    background: var(
      --GRA-Blue2,
      linear-gradient(
        169deg,
        #3984f4 -6.01%,
        #0cd3ff 36.87%,
        #2f7cf0 78.04%,
        #0e65e8 103.77%
      )
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px;
  }

  .gradient-text-tools {
    background: var(
      --GRA-Blue2,
      linear-gradient(
        169deg,
        #3984f4 -6.01%,
        #0cd3ff 36.87%,
        #2f7cf0 78.04%,
        #0e65e8 103.77%
      )
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .gradient-text-faq {
    background: var(
      --GRA-Blue,
      linear-gradient(137deg, #468ef9 -12.5%, #0c66ee 107.5%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  #trending {
    @include mixins.table-title;
    &:before {
      content: "🔥";
    }
  }

  #topGainers {
    @include mixins.table-title;
    &:before {
      content: "🚀";
    }
  }

  #recentlyAdded {
    @include mixins.table-title;
    &:before {
      content: "💎";
    }
  }

  th {
    color: var(--FONT-SECONDARY, #666);
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.15px;
  }

  td {
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .select-1,
  .select-2 {
    margin-left: 20px;
    width: 185px;
    height: 80px;
    padding: 10px;
    padding-left: 42px;
    gap: 10px;
    color: var(--FONT-BLACK, #222);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .label-one {
    border-right: 1px solid #3984f4;
    padding-right: 20px;
    color: #3984f4;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: var(
      --GRA-Blue,
      linear-gradient(137deg, #468ef9 -12.5%, #0c66ee 107.5%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .label-two {
    border-right: 1px solid #3984f4;
    padding-right: 49px;
    color: #3984f4;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: var(
      --GRA-Blue,
      linear-gradient(137deg, #468ef9 -12.5%, #0c66ee 107.5%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  #inputOne,
  #inputTwo {
    width: 150px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 22px;
    border: 1px solid #3984f4;
    border-left: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: -9rem;
    outline: none;
    color: var(--FONT-BLACK, #222);
    text-align: right;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  #inputOne {
    padding-right: 1rem;
  }

  .label-wrapper {
    padding: 27px;
    width: 300px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 22px;
    border: 1px solid #3984f4;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1400px) {
  .container-exchange {
    h2,
    p {
      text-align: center;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  .img-center-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #creditColumn {
    text-align: center;
  }

  .tools-column {
    text-align: center;
  }

  .security-column {
    text-align: center;
  }

  .accordion-column {
    text-align: center;
  }

  #footer-2,
  #footer-3,
  #footer-4,
  #footer-5 {
    text-align: center;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1500px) {
  #headerFirstColumn {
    margin-top: 70px !important;
    padding-left: 150px;
  }

  header {
    padding-bottom: 150px !important;
  }

  #circlePurpleHeader {
    position: absolute;
    bottom: 30px;
    left: 100px;
    right: 0px;
  }

  #starPurpleHeader {
    position: absolute;
    left: 600px !important;
    right: 0px;
  }

  #circleBlueHeader {
    position: absolute;
    left: 800px !important;
    bottom: 620px !important;
  }

  #circleOrangeHeader {
    position: absolute;
    right: -700px;
    bottom: 300px !important;
  }

  #starPurpleTools {
    position: absolute;
    left: 150px;
    bottom: 550px;
  }

  #circleOrangeTools {
    position: absolute;
    left: 600px;
    bottom: 300px;
  }

  #arrowOne {
    bottom: 220px !important;
    left: 300px !important;
  }

  #arrowTwo {
    bottom: 200px !important;
    left: 300px !important;
  }

  .input-footer {
    margin-left: 50px;
  }
}

@media screen and (min-width: 1500px) and (max-width: 1600px) {
  #headerFirstColumn {
    margin-top: 100px !important;
    padding-left: 150px;
  }

  header {
    padding-bottom: 100px !important;
  }

  #circlePurpleHeader {
    position: absolute;
    bottom: 0px !important;
    left: 100px;
    right: 0px;
  }

  #starPurpleHeader {
    position: absolute;
    left: 550px !important;
    right: 0px;
  }

  #circleBlueHeader {
    position: absolute;
    left: 800px !important;
    bottom: 620px !important;
  }

  #circleOrangeHeader {
    position: absolute;
    right: -700px !important;
    bottom: 300px !important;
  }

  #starPurpleTools {
    position: absolute;
    left: 130px !important;
    bottom: 550px;
  }

  #circleOrangeTools {
    position: absolute;
    left: 650px !important;
    bottom: 300px !important;
  }

  #arrowOne {
    bottom: 220px !important;
    left: 325px !important;
  }

  #arrowTwo {
    bottom: 200px !important;
    left: 330px !important;
  }
}
