@use "../abstracts/mixins";

.nav-item {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
}

.navbar-brand {
  font-family: Poppins;
  font-weight: 800;
  font-size: 35px;
}

.button-text {
  font-size: 0.85rem;
}

#signUp {
  font-family: Poppins;
  font-weight: 600;
  size: 14px;
  background: var(
    --GRA-Blue,
    linear-gradient(137deg, #468ef9 -12.5%, #0c66ee 107.5%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header {
  h1 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
  }
}

#under-text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  color: var(--FONT-SECONDARY, #666);
}

#trending {
  @include mixins.table-title-mobile;
  &:before {
    content: "🔥";
  }
}

#topGainers {
  @include mixins.table-title-mobile;
  &:before {
    content: "🚀";
  }
}

#recentlyAdded {
  @include mixins.table-title-mobile;
  &:before {
    content: "💎";
  }
}

th {
  color: var(--FONT-SECONDARY, #666);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.12px;
}

td {
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.section-exchange {
  h2 {
    @include mixins.poppins-semibold;
  }
}

#buyNow {
  font-family: Poppins;
  font-weight: 500;
}

h3 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
}

#under-text-form,
#credit-list {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  color: #666;
}

h4 {
  @include mixins.poppins-semibold;
}

h5 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
}

#link-text,
#footer-link {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
}

h6 {
  font-size: 20px;
  font-family: Poppins;
  font-weight: 600;
}

h7 {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
}

.header-faq {
  font-family: Poppins;
  font-size: 22px;
  font-weight: 600;
}

footer {
  .text-center {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
  }
}

.gradient-text-header {
  background: var(
    --GRA-Blue2,
    linear-gradient(
      169deg,
      #3984f4 -6.01%,
      #0cd3ff 36.87%,
      #2f7cf0 78.04%,
      #0e65e8 103.77%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Poppins;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -0.34px;
}

.gradient-text-cards {
  background: var(
    --GRA-Blue2,
    linear-gradient(
      169deg,
      #3984f4 -6.01%,
      #0cd3ff 36.87%,
      #2f7cf0 78.04%,
      #0e65e8 103.77%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.gradient-text-tools {
  background: var(
    --GRA-Blue2,
    linear-gradient(
      169deg,
      #3984f4 -6.01%,
      #0cd3ff 36.87%,
      #2f7cf0 78.04%,
      #0e65e8 103.77%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.gradient-text-faq {
  background: var(
    --GRA-Blue,
    linear-gradient(137deg, #468ef9 -12.5%, #0c66ee 107.5%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link-more {
  color: var(--BLUE, #2f7cf0);
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#footer-link {
  color: var(--FONT-SECONDARY, #666);
}
