@use "../abstracts/mixins";

.nav-item {
  font-family: Poppins;
  font-weight: 400;
}

.navbar-brand {
  font-family: Poppins;
  font-weight: 800;
  font-size: 35px;
}

.button-text {
    font-size: .85rem;
}

#signUp {
  font-family: Poppins;
  font-weight: 600;
  size: 20px;
}

header {
  h1 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 68px;
  }
}

#under-text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
}

#trending {
  @include mixins.table-title;
  &:before {
    content: "🔥";
  }
}

#topGainers {
  @include mixins.table-title;
  &:before {
    content: "🚀";
  }
}

#recentlyAdded {
  @include mixins.table-title;
  &:before {
    content: "💎";
  }
}

th {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  color: black;
  opacity: 83%;
}

td {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
}

.section-exchange {
  h2 {
    font-size: 36px;
    font-family: Poppins;
    font-weight: 600;
  }
}

#buyNow {
  font-family: Poppins;
  font-weight: 500;
}